/* Footer Style */
/*-----------------------------------------------------------------------------*/

#footer{
  position: fixed;
  bottom: var(--bottom-margin);
  width: 100%;
  display: inline-flex;
}

#navigation-tools{
  position: fixed;
  left: 0.5vw;
  bottom: var(--bottom-margin);
  }

#infoMessage{
  background-color: white;
  border-radius: 10px;
  margin: 0 auto; /* Center the DIV horizontally */
  text-align: center;
  width: 50vw;
  padding: 5px 5px 5px 5px;
}

#graphic-tools{
  position: fixed;
  right: 0.5vw;
  bottom: var(--bottom-margin);
}

.iconify{ /* Buttons */
  width: 4vw;
  height: 4vw;
  text-align: center;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
 .iconify {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 1700px) {
 .iconify {
    width: 40px;
    height: 40px;
  }
}

#btnEraser.active{
  border-radius: 7px;
  border-color: black;
  border-bottom-style: outset;
}

#btnPencil.active{
  border-radius: 7px;
  border-color: black;
  border-bottom-style: outset;
}
