/* General Document Style */
/*-----------------------------------------------------------------------------*/

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: fixed;
  overscroll-behavior-y: contain;
}

body {
  font-family: 'Caveat Brush';
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  --primary: #4545CC;
  --secondary: #8EE3C8;
  --bottom-margin: 10px;
}

* { box-sizing: border-box; }


/* Help Button Style */
/*-----------------------------------------------------------------------------*/

#btnHelp{
  position: fixed;
  right: 15px;
  top: 10px;
  z-index: 2;
}


/* Footer Style */
/*-----------------------------------------------------------------------------*/

#footer{
  position: fixed;
  bottom: var(--bottom-margin);
  width: 100%;
  display: inline-flex;
}

#navigation-tools{
  position: fixed;
  left: 15px;
  bottom: var(--bottom-margin);
  }

#infoMessage{
  background-color: white;
  border-radius: 10px;
  margin: 0 auto; /* Center the DIV horizontally */
  text-align: center;
  width: 500px;
  padding: 5px 5px 5px 5px;
}

#graphic-tools{
  position: fixed;
  right: 15px;
  bottom: var(--bottom-margin);
}

.iconify{ /* Buttons */
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}

#btnEraser.active{
  border-radius: 20%;
  border-color: black;
  border-bottom-style: outset;
}

#btnPencil.active{
  border-radius: 20%;
  border-color: black;
  border-bottom-style: outset;
}



/* Canvas Style */
/*-----------------------------------------------------------------------------*/

#loaded {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#loaded.hidden {
  display: none;
  pointer-events: none;
}

#sketchContainer {
  background-image: url("https://static.tildacdn.com/tild6632-3862-4565-b231-343736656162/1bb1156e37fc3b86ae4d.jpg");

  background-position: bottom; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  flex-grow: 1;
  overflow: hidden;
}

#sketchContainer.loading {
  pointer-events: none;
  opacity: 0.6;
  filter: blur(3px);
}

#loadingGif {
  filter: invert(90%);
}



/* Splash Screen Style */
/*-----------------------------------------------------------------------------*/

h1 {
  color: var(--primary);
  font-size: 60px;
}

p {
  padding: 24px 0;
  font-size: 20px;
  line-height: 1.5;
}

a:link, a:visited {
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-bottom: 4px solid var(--secondary);
}
a:hover {
  background: var(--secondary);
  color: var(--primary);
}

#splash {
  background-color: #F19CC5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px;
  border-top: 10px solid var(--secondary);
  overflow: auto;
  transition: 1s transform;
  transform: translate3d(0, 0, 0);
  z-index: 2;
}

#splash.hidden {
  transform: translate3d(0, -200%, 0);
}

#splash.content {
  color: white;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}



/* Media queries */
/*----------------------------------------------------------------------------*/

@media screen and (max-width: 700px) {
  h1 {
    font-size: 32px;
  }
  p {
    padding: 14px 0;
    text-align: left;
    font-size: 18px;
  }
  #splash {
    padding: 24px;
  }
